# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js & Build outputs
/.next/
/out/
/build
/dist
*.tsbuildinfo
next-env.d.ts

# Environment variables & Local configuration
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Logs & Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing & Coverage
/coverage

# Vercel
.vercel

# IDE & Editor files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.sublime-workspace

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

